
.body-card {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
}

.body-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    
}

.body-card-description {
    display: none;
    padding: 0.5rem;
}

.body-card:hover .body-card-description {
    display: block;
}

.body-card-description p {
    margin: 0;
    line-height: 1.5;
}

.body-card-description strong {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

