.body-types-cards {
    display: flex;
    gap: 20px;
}

.body-card {
    flex: 1;
    position: relative;
    border-radius: 16px;
    overflow: visible;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.body-card img {
    width: 100%;
    display: block;
}

.body-card-description {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    box-sizing: border-box;

    padding: 15px 20px;
    background-color: white;

    border-radius: 0 0 16px 16px;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease;
}

.body-card:hover .body-card-description {
    opacity: 1;
    visibility: visible;

}