/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-header {
  position: fixed;
  top: 10px;
  left: 50px;
  z-index: 1000;
  background-color: white;
  padding: 10px 0;
}
*/